.DS_Store
.idea
__pycache__
*~
web/node_modules
report/puns_report.aux
report/puns_report.log
report/puns_report.out
report/puns_report.pdf
report/puns_report.synctext.gz
poster/poster.aux
poster/poster.snm
poster/poster.fls
poster/poster.log
poster/poster.nav
poster/poster.out
poster/poster.pdf
poster/poster.toc
poster/poster.synctext.gz
cache/files
pun_data.log
