/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.magnify {
    height: 200px;
}
.magnify-container {
    display: inline;
}
.intro-container {
    display: inline;
}

/*
Spinner

Thanks https://projects.lukehaas.me/css-loaders/
For the awesome spinner!
 */
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #b52a97, 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.5), -1.8em -1.8em 0 0em rgba(181,42,151, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.7), 1.8em -1.8em 0 0em #b52a97, 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.5), 1.8em -1.8em 0 0em rgba(181,42,151, 0.7), 2.5em 0em 0 0em #b52a97, 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.5), 2.5em 0em 0 0em rgba(181,42,151, 0.7), 1.75em 1.75em 0 0em #b52a97, 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.5), 1.75em 1.75em 0 0em rgba(181,42,151, 0.7), 0em 2.5em 0 0em #b52a97, -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.5), 0em 2.5em 0 0em rgba(181,42,151, 0.7), -1.8em 1.8em 0 0em #b52a97, -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.5), -1.8em 1.8em 0 0em rgba(181,42,151, 0.7), -2.6em 0em 0 0em #b52a97, -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.5), -2.6em 0em 0 0em rgba(181,42,151, 0.7), -1.8em -1.8em 0 0em #b52a97;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #b52a97, 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.5), -1.8em -1.8em 0 0em rgba(181,42,151, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.7), 1.8em -1.8em 0 0em #b52a97, 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.5), 1.8em -1.8em 0 0em rgba(181,42,151, 0.7), 2.5em 0em 0 0em #b52a97, 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.5), 2.5em 0em 0 0em rgba(181,42,151, 0.7), 1.75em 1.75em 0 0em #b52a97, 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.5), 1.75em 1.75em 0 0em rgba(181,42,151, 0.7), 0em 2.5em 0 0em #b52a97, -1.8em 1.8em 0 0em rgba(181,42,151, 0.2), -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.5), 0em 2.5em 0 0em rgba(181,42,151, 0.7), -1.8em 1.8em 0 0em #b52a97, -2.6em 0em 0 0em rgba(181,42,151, 0.2), -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.5), -1.8em 1.8em 0 0em rgba(181,42,151, 0.7), -2.6em 0em 0 0em #b52a97, -1.8em -1.8em 0 0em rgba(181,42,151, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(181,42,151, 0.2), 1.8em -1.8em 0 0em rgba(181,42,151, 0.2), 2.5em 0em 0 0em rgba(181,42,151, 0.2), 1.75em 1.75em 0 0em rgba(181,42,151, 0.2), 0em 2.5em 0 0em rgba(181,42,151, 0.2), -1.8em 1.8em 0 0em rgba(181,42,151, 0.5), -2.6em 0em 0 0em rgba(181,42,151, 0.7), -1.8em -1.8em 0 0em #b52a97;
  }
}

}
/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}